/* ===========================
   GLOBAL
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Poppins",sans-serif;

    background:#0f172a;

    color:#fff;

    min-height:100vh;

    overflow:hidden;
    overflow-y:auto;
}

a{

    text-decoration:none;

}

/* ===========================
   PAGE
=========================== */

.login-page{

    display:grid;

    grid-template-columns:60% 40%;

    min-height:100vh;

}
.login-page::before{

    content:"";

    position:fixed;

    top:35px;

    left:35px;

    width:60px;

    height:60px;

    border-top:5px solid #E63946;

    border-left:5px solid #E63946;

}

.login-page::after{

    content:"";

    position:fixed;

    bottom:35px;

    right:35px;

    width:60px;

    height:60px;

    border-bottom:5px solid #F4C430;

    border-right:5px solid #F4C430;

}
/* ===========================
   HERO PANEL
=========================== */

.hero-panel{

    position:relative;

    display:flex;

    align-items:center;

    justify-content:center;

    padding:70px;

background:
    linear-gradient(
        135deg,
        #0f172a 0%,
        #1e293b 45%,
        #111827 100%
    );

    background-size:cover;

    background-position:center;

}

.hero-overlay{

    position:absolute;

    inset:0;

    background:

            linear-gradient(
                    135deg,
                    rgba(230,57,70,.20),
                    rgba(244,196,48,.10)
            );

}

.hero-content{

    position:relative;

    z-index:2;

    max-width:600px;

}

.hero-logo img{

    width:130px;

    margin-bottom:40px;

}

.hero-content h1{

    font-size:4rem;

    font-weight:700;

    line-height:1.15;

    margin-bottom:28px;

}

.hero-content p{

    font-size:1.1rem;

    line-height:1.8;

    color:#d1d5db;

}
.hero-quote{

    background:rgba(17,24,39,.55);

    border-left:6px solid #E63946;

    padding:30px;

    max-width:550px;

}

.hero-quote span{

    color:#F4C430;

    font-weight:700;

    letter-spacing:3px;

    font-size:.8rem;

}

.hero-quote h1{

    margin:15px 0;

    font-size:3.5rem;

    line-height:1.1;

}
/* ===========================
   LOGIN PANEL
=========================== */

.login-panel{

    display:flex;

    justify-content:center;

    align-items:flex-start;

    padding:70px 50px;

    overflow-y:auto;

}

/* ===========================
   LOGIN CARD
=========================== */

.login-card{

    width:100%;

    max-width:480px;

    background:

            rgba(22,30,48,.94);

   clip-path:polygon(
    0 0,
    96% 0,
    100% 8%,
    100% 100%,
    4% 100%,
    0 92%
);

border-radius:0;

    padding:50px;

    border:1px solid rgba(255,255,255,.08);

    box-shadow:

            0 25px 60px rgba(0,0,0,.45);
    position:relative;

    overflow:hidden;
}

.brand{

    text-align:center;

    margin-bottom:35px;

}

.brand-logo{

    width:110px;

    margin-bottom:20px;

}

.brand h2{

    font-size:2rem;

    margin-bottom:10px;

}

.brand p{

    color:#b9c2cf;

    font-size:.95rem;

}


.login-card::before{

    content:"";

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:6px;

    background:linear-gradient(
        90deg,
        #E63946,
        #F4C430
    );

}

.login-card::after{

    content:"";

    position:absolute;

    right:-35px;

    bottom:-35px;

    width:120px;

    height:120px;

    border:4px solid rgba(244,196,48,.18);

    transform:rotate(45deg);

}
/* ===========================
   INPUTS
=========================== */

.input-group{

    margin-bottom:25px;

}

.input-group label{

    display:block;

    margin-bottom:10px;

    font-weight:600;

}

.input-wrapper{

    position:relative;

}

.input-wrapper i:first-child{

    position:absolute;

    left:18px;

    top:50%;

    transform:translateY(-50%);

    color:#8b96a8;

    pointer-events:none;

    z-index:2;

}

.input-wrapper input{

    width:100%;

    height:56px;

    padding-left:52px;
    padding-right:52px;

    background:#1d2940;

    color:#fff;

    border:2px solid transparent;

    border-radius:12px;

    outline:none;

    font-size:15px;

}

.input-wrapper input::placeholder{

    color:#7d8797;

}

.input-wrapper input:focus{

    border-color:#F4C430;

    background:#202C45;

    box-shadow:0 0 0 4px rgba(244,196,48,.15);

}


/* ===========================
   PASSWORD BUTTON
=========================== */

.password-toggle{

    position:absolute;

    right:15px;

    top:50%;

    transform:translateY(-50%);

    background:none;

    border:none;

    cursor:pointer;

    color:#9ca3af;

    font-size:16px;

}

/* ===========================
   OPTIONS
=========================== */

.login-options{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

    font-size:.92rem;

}

.remember-me{

    display:flex;

    align-items:center;

    gap:8px;

    color:#d7d7d7;

}

.login-options a{

    color:#f4c430;

    font-weight:600;

}

/* ===========================
   BUTTON
=========================== */
.login-btn{

    width:100%;

    padding:16px;

    background:#E63946;

    color:#fff;

    border:none;

    border-radius:12px;

    font-size:16px;

    font-weight:700;

    letter-spacing:2px;

    cursor:pointer;

    box-shadow:6px 6px 0 #F4C430;

    transition:.2s;

}

.login-btn:hover{

    transform:translate(3px,3px);

    box-shadow:3px 3px 0 #F4C430;

}

/* ===========================
   DIVIDER
=========================== */

.divider{

    position:relative;

    text-align:center;

    margin:35px 0;

}

.divider::before{

    content:"";

    position:absolute;

    left:0;

    top:50%;

    width:100%;

    height:1px;

    background:#374151;

}

.divider span{

    background:#111827;

    color:#F4C430;

    font-weight:700;

    letter-spacing:3px;

}

/* ===========================
   REGISTER
=========================== */

.register-link{

    text-align:center;

}

.register-link p{

    color:#b7c1cf;

    margin-bottom:8px;

}

.register-link a{

    color:#f4c430;

    font-weight:700;

}

/* ===========================
   FOOTER
=========================== */

footer{

    margin-top:45px;

    text-align:center;

    font-size:.82rem;

    color:#9ca3af;

}

footer span{

    display:block;

    margin-top:6px;

}

/* ===========================
   RESPONSIVE
=========================== */

@media(max-width:1024px){

    .login-page{

        grid-template-columns:1fr;

    }

    .hero-panel{

        display:none;

    }

    .login-panel{

        padding:30px;

    }

    .login-card{

        max-width:500px;

    }

}

@media(max-width:600px){

    .login-card{

        padding:35px 25px;

    }

    .brand h2{

        font-size:1.7rem;

    }

}
.logo-text{

    font-size:4rem;

    font-weight:700;

    letter-spacing:4px;

    color:#ffffff;

}

.brand-title{

    font-size:3rem;

    font-weight:800;

    letter-spacing:3px;

    text-transform:uppercase;

}

.brand-title span{

    color:#F4C430;

}
/* Chrome / Edge */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#111827;

}

::-webkit-scrollbar-thumb{

    background:#E63946;

    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#F4C430;

}

/* Firefox */

*{

    scrollbar-width:thin;

    scrollbar-color:#E63946 #111827;

}